/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 * MXUnit Test Runner Configuration
 * Specify the server name, port and web root.
 * The application context is inferred from the above.
 *
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

{
	
	"server" : "localhost",
	"port" : "8301" ,

	//Make sure to add leading and trailing '/'
	"component_root" : "/" ,
	"web_root" :    "/home/billy/software/jrun4/servers/dev/cfusion.ear/cfusion.war"
}