#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# MXUnit Test Runner Configuration
# Specify the server name, port and web root.
# The application context is inferred from the above.
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[mxunit]
server : localhost
port : 8301
component_root : /
web_root :  /home/billy/software/jrun4/servers/dev/cfusion.ear/cfusion.war/
test_cfc : balisong/BalisongTest.cfc

